:root {
    --primary-color: #404040;
}
@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@200&display=swap');
body {
    margin: 0;
    font-family: 'Yaldevi', sans-serif;
} 
#header {
    height: 80px;
    background-color: var(--primary-color);
    color: white;
    padding: 5px;
    text-align: center;
}
#content {
    text-align: center;
}
textarea {
    width: 60%;
    height: 100px;
}
#footer {
    background-color: var(--primary-color);
    color: white;
    padding: 25px;
    text-align: center;
}
#footer h1 {
    margin:0%;
}
#footer p{
    width:70%;
    font-size: larger;
    margin:auto;
}